@for (note of notes; track note.id) {
<app-note [note]="note"></app-note>
} @empty {
<div class="error-message">
  @if(!errorMessage){
  <p>No notes available.</p>
  }@else{
  {{ errorMessage }}
  }
</div>
}

<div class="page-control-btns">
  @if(notes.length){
  <button (click)="loadLess()" [disabled]="currentPage === 1">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <button (click)="loadMore()" [disabled]="currentPage >= totalPages">
    <i class="fa-solid fa-arrow-right"></i>
  </button>
  }
</div>
