.form-search {
  position: relative;
  margin-bottom: 1em;
}

.form-search span {
  position: absolute;
  top: 1px;
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-left: 0.6em;
  height: 100%;
}

.form-search input {
  padding: 0.5em 1em 0.5em 3em;
  border-radius: 50px;
  border: 1px solid rgba(22, 22, 22, 0.507);
  width: 100%;
  font-size: 1rem;
}
